header{
    width: 100%;
    height: auto;
}

:root{

}

.navbar{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista .item-lista{
    display: inline-block;
    padding: 10px;
}

.lista .item-lista a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    border-bottom: 2px solid transparent;
}

.lista .item-lista a:hover{
        border-bottom: 2px solid #c2c2c2;
}